 .btn.vivo-style {
  .border-radius(20px);
  box-shadow: none;
  color: #2b6375;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 7px 0;
  background-color: wheat;
}

body {
  text-align: center;
}

.title {
  font-family: 'Oleo Script', cursive;
  font-size: 90px;
  color: #2b6375;
  text-shadow: 1px 5px wheat;
}

.btn:focus {
  display: none;
}