<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CV: ${name}</title>
    
    <style>
     h1 { font-size: 150%; }
     h2 { font-size: 135%; }
     h3 { font-size: 115%; }
     h4 { font-size: 100%; }
     p { line-height: 6pt; margin-top: 3pt; margin-bottom: 0pt; }
     div.heading_12 { font-size: 12pt; font-family: Arial; font-weight: bold; text-align: center; line-height:12pt; }
     div.heading_10_center { font-size: 10pt; font-family: "Times New Roman"; text-align: center; line-height: 12pt; }
     div.heading_10 { font-size: 10pt; font-family: Arial; font-weight: bold; line-height:12pt; }
     div.heading_10_sub { font-size: 10pt; font-family: Arial; font-weight: bold; line-height:12pt; margin-top: 6pt;}
     div.regular_10 { font-size: 10pt; font-family: "Times New Roman"; }
     div.regular_12 { font-size: 12pt; font-family: "Times New Roman"; }
     div.container { width: 100%; }
     div.row { margin-bottom: 1em; padding-bottom: 1em;}
     div.slight-indent { margin-left: 24pt; }
    </style>
  </head>
  <body>
  <div class="container">
    <% var degree = ""; %>
    <% _.forEach(educations, function(item) { %>
      <% if (item['label'].indexOf(",") > 0) { %>
      <% var n = item['label'].indexOf(","); %>
      <% degree += item['label'].substr(0,n) + ", "; %>
      <% } %>
    <% }); %>
    <% degree = degree.slice(0, -2); %>

    <div class="heading_12">
      DUKE UNIVERSITY MEDICAL CENTER
      <br/>
      CURRICULUM VITAE
      <br/>
      for 
      <br/>
      Permanent Record
      <br/>
     and the Appointments and Promotions Committee 
    </div>

     <% var dt = new Date(); %>
     <% var today = "" %>
     <% var monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"]; %>
     <% today = "Prepared: " +  monthNames[dt.getMonth()] + " " + dt.getDate() + ", " + dt.getFullYear(); %>
     
    <div class="heading_12">
      <% if (degree != undefined && degree != "") { %>
      ${name}, ${degree}
      <% } else { %>
      ${name}
      <% } %>
    </div>

    <div class="heading_10_center">
        ${today}
    </div>

    <% if(primaryPositions.length > 0) { %>
    	<% var title = ""; %>
    	<% _.forEach(primaryPositions, function(item) { %>
   	 	<% title += item['label'] + ', '; %>
    	<% }); %>
    	<% title = title.slice(0,-2); %>

    	 <div class="row"><div class="heading_10">PRIMARY ACADEMIC APPOINTMENT:</div><div class="regular_10"><p>${title}</p></div></div>
    <% } %>

    <% if(secondaryPositions.length > 0) { %>
    	<% var title = ""; %>
    	<% _.forEach(secondaryPositions, function(item) { %>
    	<% title += item['label'] + ', '; %>
    	<% }); %>
    	<% title = title.slice(0,-2); %>

    	<div class="row"><div class="heading_10">SECONDARY ACADEMIC APPOINTMENT:</div><div class="regular_10"><p>${title}</p></div></div>
    <% } %>

    <% if (pastappointments.length > 0) { %>
    	<% var title = ""; %>
    	<% _.forEach(pastappointments, function(item) { %>
    	<% title = item['startYear'] + ', ' + item['orig_label'] + ', '; %>
    	<% }); %>

      <div class="row"><div class="heading_10">	DATE / RANK OF FIRST DUKE FACULTY APPOINTMENT:</div><div class="regular_10"><p>${title}</p></div></div>
    	
    <% } %>

    <% if (licences.length > 0) { %>
 		<% var lic = ""; %>
    	<% _.forEach(licences, function(item) { %>
    	<% lic = item['label']; %>
    	<% }); %>

    	<div class="heading_10">MEDICAL LICENSE NUMBER AND DATE: </div>${lic}
	 <% } %>

	 <% if (educations.length > 0) { %>
    <% educations.sort(function(a,b) {return (a.endYear > b.endYear) ? 1 : ((b.endYear > a.endYear) ? -1 : 0);} ); %>
    <div class="row">
      <div class="heading_10">EDUCATION</div>
      <div class="regular_10">
      <% _.forEach(educations, function(item) { %>
       <p><%= item['label'] %></p>
      <% }); %>
    </div>
    </div>
    <% } %>

    <% var mergeExpPos = Object.assign(profExperiences, otherPositions) %>
  
    <% if (mergeExpPos.length > 0) { %>
    <% mergeExpPos.sort(function(a,b) {return (a.startYear > b.startYear) ? 1 : ((b.startYear > a.startYear) ? -1 : 0);} ); %>
    <div class="row">
      <div class="heading_10">PROFESSIONAL TRAINING AND ACADEMIC CAREER</div>
      <div class="regular_10">
      <% _.forEach(mergeExpPos, function(item) { %>
       <p><%= item['startYear'] + " - " + item['endYear'] + ", " + item['label'] %></p>
      <% }); %>
    </div>
    </div>
    <% } %>

    <% if (pastappointments.length > 0) { %>
     <div class="row">
      <div class="heading_10">DUKE APPOINTMENT HISTORY</div>
      <div class="regular_10">
      <% _.forEach(pastappointments, function(item) { %>
       <p><%= item['startYear'] + " - " + item['endYear'] + ", " + item['orig_label'] %></p>
      <% }); %>
    </div>
    </div>
    <% } %>

     <div class="row">
      <div class="heading_10">PUBLICATIONS</div>
       <% if (journals.length > 0) { %>
        <div class="row">
         <div class="heading_10">Refereed journal articles</div>
         <div class="regular_10">
          <% _.forEach(journals, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (manuscripts.length > 0) { %>
        <div class="row">
         <div class="heading_10">Study-related manuscripts on multicenter clinical trials</div>
         <div class="regular_10">
          <% _.forEach(manuscripts, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (letters.length > 0) { %>
        <div class="row">
         <div class="heading_10">Letters</div>
         <div class="regular_10">
          <% _.forEach(letters, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (editorials.length > 0) { %>
        <div class="row">
         <div class="heading_10">Editorials</div>
         <div class="regular_10">
          <% _.forEach(editorials, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (books.length > 0) { %>
        <div class="row">
         <div class="heading_10">Books</div>
         <div class="regular_10">
          <% _.forEach(books, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (booksections.length > 0) { %>
        <div class="row">
         <div class="heading_10">Book Sections</div>
         <div class="regular_10">
          <% _.forEach(booksections, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

      <% if (abstracts.length > 0) { %>
        <div class="row">
         <div class="heading_10">Selected Abstracts</div>
         <div class="regular_10">
          <% _.forEach(abstracts, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (reviews.length > 0) { %>
        <div class="row">
         <div class="heading_10">Scientific reviews</div>
         <div class="regular_10">
          <% _.forEach(reviews, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (nonauthored.length > 0) { %>
        <div class="row">
         <div class="heading_10">Non-authored publications</div>
         <div class="regular_10">
          <% _.forEach(nonauthored, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

      <% if (others.length > 0) { %>
        <div class="row">
         <div class="heading_10">Other publications</div>
         <div class="regular_10">
          <% _.forEach(others, function(item) { %>
              <p><%= item['citation'].replace(" " + lastName," <b>" + lastName + "</b>") %></p>
          <% }); %>
         </div>
        </div>
      <% } %>

    </div>
    </div>

    <% if (servicesToProfession['consulting'].length > 0) { %>
    <div class="row">
    <div class="heading_10">CONSULTANT APPOINTMENTS</div>
    <div class="regular_10">
    <% _.forEach(servicesToProfession['consulting'], function(item) { %>
                    <p><%= item %></p>
              <% }); %>
    </div>
    </div>
    <% } %>      

    <% if (scholarlySocieties.length > 0) { %>
    <div class="row">
    <div class="heading_10">SCHOLARLY SOCIETIES</div>
    <div class="regular_10">
    <% _.forEach(scholarlySocieties, function(item) { %>
                    <p><%= item['label'] %></p>
              <% }); %>
    </div>
    </div>
    <% } %>     

    <% if (awards.length > 0) { %>
    <div class="row">
    <div class="heading_10">PROFESSIONAL AWARDS AND SPECIAL RECOGNITIONS</div>
    <div class="regular_10">
    <% _.forEach(awards, function(item) { %>
                    <p><%= item['label'] %></p>
              <% }); %>
    </div>
    </div>
    <% } %>  

    <% if (servicesToProfession['ea'].length > 0) { %>
    <div class="row">
    <div class="heading_10">EDITORIAL EXPERIENCE</div>
    <div class="regular_10">
    <% _.forEach(servicesToProfession['ea'], function(item) { %>
                    <p><%= item %></p>
              <% }); %>
    </div>
    </div>
    <% } %>    

    <% if (servicesToProfession['cs'].length > 0) { %>
    <div class="row">
    <div class="heading_10">ORGANIZATIONS AND PARTICIPATION</div>
    <div class="regular_10">
    <% _.forEach(servicesToProfession['cs'], function(item) { %>
                    <p><%= item %></p>
              <% }); %>
    </div>
    </div>
    <% } %>  

    <div class="row">
      <div class="heading_10">EXTERNAL SUPPORT</div>
       <% if (currentGrants.length > 0) { %>
        <div class="row">
         <div class="heading_10">Current Research Support</div>
         <div class="regular_10">
          <% _.forEach(currentGrants, function(item) { %>
              <p>PI: <%= item['pi'] %></p>
              <p>Period: <%= item['period'] %></p>
              <p>Title: <%= item['title'] %></p>
              <p>Direct cost: </p>
              <p>Percent effort: </p>
              <p>Role: <%= item['role'] %></p>
              <br/><br/>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (completedGrants.length > 0) { %>
        <div class="row">
         <div class="heading_10">Completed Research Support</div>
         <div class="regular_10">
          <% _.forEach(completedGrants, function(item) { %>
              <p>PI: <%= item['pi'] %></p>
              <p>Period: <%= item['period'] %></p>
              <p>Title: <%= item['title'] %></p>
              <p>Direct cost: </p>
              <p>Percent effort: </p>
              <p>Role: <%= item['role'] %></p>
              <br/><br/>
          <% }); %>
         </div>
        </div>
      <% } %>

       <% if (pendingGrants.length > 0) { %>
        <div class="row">
         <div class="heading_10">Pending Research Support</div>
         <div class="regular_10">
          <% _.forEach(pendingGrants, function(item) { %>
              <p>PI: <%= item['pi'] %></p>
              <p>Period: <%= item['period'] %></p>
              <p>Title: <%= item['title'] %></p>
              <p>Direct cost: </p>
              <p>Percent effort: </p>
              <p>Role: <%= item['role'] %></p>
              <br/><br/>
          <% }); %>
         </div>
        </div>
      <% } %>
    </div>

    <% if (mentorship_activities) { %>
    <div class="row">
    <div class="heading_10">MENTORING ACTIVITIES</div>
    <div class="regular_10">
      ${mentorship_activities}
    </div>
    </div>
    <% } %>    

    <% if (teaching_activities) { %>
    <div class="row">
    <div class="heading_10">EDUCATION / TEACHING ACTIVITIES</div>
    <div class="regular_10">
      ${teaching_Activities}
    </div>
    </div>
    <% } %>    

    <% if (presentations.length > 0) { %>
    <div class="row">
    <div class="heading_10">INVITED LECTURES AND PRESENTATIONS</div>
    <div class="regular_10">
    <% _.forEach(presentations, function(item) { %>
                    <p><%= item['label'] %></p>
              <% }); %>
    </div>
    </div>
    <% } %>  

    <% if (clinical_activities) { %>
    <div class="row">
    <div class="heading_10">CLINICAL ACTIVITIES</div>
    <div class="regular_10">
      ${clinical_activities}
    </div>
    </div>
    <% } %>

    <% if (academic_activities) { %>
    <div class="row">
    <div class="heading_10">ACADEMIC AND ADMINISTRATIVE ACTIVITIES OF THE UNIVERSITY AND MEDICAL CENTER</div>
    <div class="regular_10">
      ${academic_activities}
    </div>
    </div>
    <% } %>

    <div class="row"><div class="regular_12">Signature of Chair _____________________________________________ </div></div>
    <div class="row"><div class="regular_12">Date _____________________________________________ </div></div>
    
    <br/><br/>

    <div class="row">
    <div class="heading_10">PREFERRED OR FAMILIAR NAME:</div>
    </div>

    <div class="row">
    <div class="heading_10">EMAIL:</div>
    </div>

 </div>
</body>
</html>

