<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>NIH CV: ${name}</title>

    <style>
     div.row { margin-bottom: 1em; padding-bottom: 1em;}
     div.heading_12_center { font-size: 12pt; font-family: Arial; font-weight: bold; text-align: center; }
     div.heading_13_center { font-size: 13.5pt; font-family: Arial; font-weight: bold; text-align: center; }
     div.heading_14 { font-size: 14pt; font-family: Arial; font-weight: bold; }
     div.heading_12 { font-size: 12pt; font-family: Arial; font-weight: bold; }
     div.heading_8_center { font-size: 8pt; font-family: Arial; font-weight: bold; text-align: center; margin-top:0;}
     div.heading_8_right { font-size: 8pt; font-family: Arial; text-align: right; margin-top:0;}
     div.heading_11 { font-size: 11pt; font-family: Arial; }
     div.heading_10 { font-size: 10pt; font-family: Arial; font-weight: bold; }
     div.regular_10 { font-size: 10pt; font-family: Arial; }
     div.text_10_times { font-size: 10pt; font-family: "TimesNewRoman"; }
     div.text_10_times_italics { font-size: 10pt; font-family: "TimesNewRoman"; font-style: italic; }
     .break { page-break-before: always; }
     .br.nospace { display: none; }
     .bold { font-weight: bold; }
     .italics { font-style: italic; }
     p.border{ border-top-style: solid; border-top-width: thin; }
     p { line-height: 6pt; margin-top: 3pt; margin-bottom: 0pt; }
     p.space { line-height: 12pt; }
      #education_table td
      {
        text-align: center;
        vertical-align: middle;
        font-size: 11pt;
        font-family: Arial;
        font-weight: normal;
      }

      #border-column{
          border-left: 0.5px solid black;
          border-right: 0.5px solid black;
        }

      #education_table {
          border:none;
          border-collapse: collapse;
      }
      #education_table th {
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        border-top-width: thin;
        border-bottom-width: thin;
        font-size: 11pt;
        font-family: Arial;
        font-weight: normal;
        /*border-left: 1px solid black;
        border-right: 1px solid black;*/
      }
      #grants_table th, td {
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
      }
    </style>
  </head>
  <body>
  <div class="container">

     <!-- Cover Sheet -->
      <div class="row">
        <div class="heading_14">
        <p>Scholars@Duke Users: How to Complete the NIH Biosketch</p>
        </div>
      </div>

      <div class="row">
      <div class="text_10_times">
        <p>The Scholars NIH Biosketch contains output from your Scholars@Duke profile displayed in a Word document that you can edit directly. To make permanent changes, you must add or correct information in the source systems, either Scholars@Duke, Elements, dFac (Duke’s faculty system) or SPS (Duke’s Sponsored Projects System).</p>
       </div>
      </div>

      <div class="row">
       <div class="text_10_times">
        <p class="space">Titles, affiliations, and educational information comes from dFac, Duke’s faculty system. To add or correct information in dFac, contact your departmental dFac user or your <a href="http://about.scholars.duke.edu/locate-power-user"> Scholars power user</a>.</p>
       </div>
      </div>

      <div class="row">
       <div class="text_10_times">
        <p class="space">For more information, see Generating an NIH Biosketch in the Scholars User Guide or the biosketch format pages, instructions, and samples on the <a href="https://grants.nih.gov/grants/forms/biosketch.htm">NIH website</a>.</p>
       </div>
      </div>

      <div class="row">
        <div class="text_10_times">
          <span class="bold"> Note: </span><span class="italics">delete this cover page before submitting your biosketch.</span>
        </div>
      </div>

      <div class="row">
        <div class="heading_10">
          <p> Data from dFac </p>
        </div>
      </div>

      <div class="row">
        <div class="text_10_times">
          <p> To add or correct information in dFac, contact your departmental dFac user or your <a href="http://about.scholars.duke.edu/locate-power-user"> Scholars power user. </a></p>
          <ul>
            <li>Name</li>
            <li>Position Title (Preferred Title)</li>
            <li>Institution/Degree(s)/Completion Date (Education, Training & Certifications)</li>
            <li>Positions and Employment (Current Appointments & Affiliations | Duke Appointment History)</li>
            <li>Honors (Specialty Board Certifications) </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="heading_10">
          <p> Data from <a href="http://scholars.duke.edu">Scholars@Duke </a></p>
        </div>
      </div>

      <div class="row">
        <div class="text_10_times">
          <p> To add or edit this information, click the “Manage This Profile” button on your profile and navigate to the corresponding section. </p>
          <ul>
            <li>Personal Statement: Comes from the Overview section in <a href="http://scholars.duke.edu">Scholars@Duke</a></li>
            <li>Honors: Comes from the Awards and Honors section in <a href="http://scholars.duke.edu">Scholars@Duke</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="heading_10">
          <p>Data from Sponsored Project System (SPS)</p>
        </div>
      </div>

      <div class="row">
        <div class="text_10_times">
          <p> To add or correct information in SPS, contact your <a href="http://about.scholars.duke.edu/locate-power-user">Scholars power user </a> or your department’s SPS contact to work with the appropriate office (Office of Research Administration (ORA) or the Office of Research Support (ORS). </p>
          <ul>
            <li>Ongoing Research Support</li>
            <li>Completed Research Support</a></li>
          </ul>
          <div class="text_10_times">
            <span class="bold"> Note: </span> You can also add to both sections above by adding data in <a href="http://scholars.duke.edu">Scholars@Duke</a> in the Fellowships, Supported Research & Other Grants section.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="heading_10">
          <p>Data from Elements</p>
        </div>
      </div>

      <div class="row">
        <div class="text_10_times">
          <p> To add or correct publications, edit your publications list in <a href="http://elements.duke.edu/">Elements</a>. See the <a href="https://elements.duke.edu/information.html">Elements Help</a> to learn how to add subtypes to publications records:</p>
          <ul>
            <li>Refereed journal article: Journal Article type with either the Academic Article subtype or no subtype </li>
            <li>Study-related manuscripts on multicenter clinical trials: Journal Article type, Clinical Trial Manuscript subtype, and the Contributor role</li>
            <li>Letters:  Any publication type with subtype Letter </li>
            <li>Editorials:  Any publication type with subtype Editorial Comment </li>
            <li>Books:  Book type </li>
            <li>Chapters:  Book Section type </li>
            <li>Selected abstracts:  Journal Article type and subtype Abstract </li>
            <li>Scientific reviews:  Book Review type </li>
            <li>Non-authored publications: Any publication type with the Contributor role with the Author role removed</li>
            <li>Other publications: Other Articles type and/or any of the subtypes not listed above</li>
          </ul>
        </div>
      </div>

      <div class="row">
       <div class="heading_10">
        <p>Other sections:</p>
       </div>
      </div>

      <div class="row">
        <div class="text_10_times">
          <p> The remaining biosketch sections must be completed by entering data directly into the Microsoft Word document:</p>
          <ul>
            <li>eRA Commons User Name </li>
            <li>Institution Location</li>
            <li>Field of Study </li>
            <li>Contributions to Science</li>
          </ul>
        </div>
      </div>

    <!-- Page Break -->
    <div class="break"><br class="no-space"/></div>

    <!-- Main CV -->
    <div class="heading_8_right">
      <p>OMB No. 0925-0001 and 0925-0002 (Rev. 09/17 Approved Through 03/31/2020)</p>
    </div>


    <div class="heading_13_center">
      <p class="border">BIOGRAPHICAL SKETCH</p>
    </div>

    <div class="row">
    <div class="heading_8_center">
      <p>Provide the following information for the Senior/key personnel and other significant contributors.</p>
      <p>Follow this format for each person. DO NOT EXCEED FIVE PAGES.</p>
    </div>
   </div>


     <div class="row">
    <div class="heading_11">
      <p class="border">NAME: ${name}</p>
    </div>
    </div>

    <div class="row">
     <div class="heading_11">
      <p class="border">eRA COMMONS USER NAME (credentials, e.g. agency login):</p>
    </div>
    </div>

    <% if (preferredTitle != "" && preferredTitle != null) { %>
      <div class="row">
      <div class="heading_11">
        <p class="border">POSITION TITLE: ${preferredTitle}</p>
      </div>
    </div>
    <% } else { %>
    <% if(primaryPositions.length > 0) { %>
      <% var title = ""; %>
      <% _.forEach(primaryPositions, function(item) { %>
      <% title += item['label'] + ', '; %>
      <% }); %>
      <% title = title.slice(0,-2); %>
      <div class="row">
      <div class="heading_11">
        <p class="border">POSITION TITLE: ${title}</p>
      </div>
    </div>
    <% } else { %>
      <div class="row">
      <div class="heading_11">
        <p class="border">POSITION TITLE:</p>
      </div>
    </div>
    <% }} %>

    <div class="heading_11">
      <p class="border">EDUCATION/TRAINING <i>(Begin with baccalaureate or other initial professional education, such as nursing, include postdoctoral training and residency training if applicable. Add/delete rows as necessary.)</i></p>
    </div>

      <table id="education_table">
      <tr>
        <th width="40%"><p style="text-align: left;">INSTITUTION AND LOCATION</p></th>
        <th width="20%" id="border-column"><p>DEGREE <br/><i>(if <br/> applicable)</i></p></th>
        <th width="20%" id="border-column"><p>Completion <br/> Date <br/> MM/YYYY</p></th>
        <th width="20%"><p>FIELD OF STUDY</p></th>
      </tr>
      <% if (educations.length > 0) { %>
      <% _.forEach(educations, function(item) { %>
      <tr>
        <td><p style="text-align: left;"><%= item['institution'] %></p></td>
        <td id="border-column"><p><%= item['degree'] %></p></td>
        <td id="border-column"><p><%= item['endYear'] %></p></td>
        <td><p></p></td>
      </tr>
      <% }); %>
      <% } %>
    </table>

    <br/>
    <div class="row">
     <div class="heading_14">
       <p>A. Personal Statement</p>
     </div>
     <div class="regular_10">
        <p>${overview}</p>
     </div>

     <br/>

     <div class="row"></div>
      <% journals.sort(function(a,b) {return (a.year < b.year) ? 1 : ((b.year < a.year) ? -1 : 0);} ); %>

      <% if (journals.length > 0) { %>
      <div class="regular_10">
          <ol>
          <% var i = 1; %>
          <% _.forEach(journals, function(item) { %>
            <% if (i <= 4) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
            <% } %>
            <% i = i + 1 %>
          <% }); %>
          </ol>
      </div>
      <% } %>
    </div>

    <div class="row">
      <div class="heading_14">B. Positions and Honors </div>
      <div class="heading_12">
        <p>Positions and Employment</p>
      </div>

      <% if (allPositions.length > 0) { %>
      <% allPositions.sort(function(a,b) {return (a.startYear < b.startYear)  ? 1 : ((b.startYear < a.startYear) ? -1 : 0);} ); %>
        <div class="heading_11">
        <% _.forEach(allPositions, function(item) { %>
        <p><%= item['startYear'] + " " + item['label'] %></p>
        <% }); %>
        </div>
        <% } %>

      <% var mergeExpPos = Object.assign(pastappointments,otherPositions) %>
      <% if (mergeExpPos.length > 0) { %>
      <% mergeExpPos.sort(function(a,b) {return (a.startYear < b.startYear) ? 1 : ((b.startYear < a.startYear) ? -1 : 0);} ); %>
        <div class="heading_11">
        <% _.forEach(mergeExpPos, function(item) { %>
        <% if (item['endYear']) { %>
          <p><%= item['startYear'] + " - " + item['endYear'] + " " + item['label'] %></p>
        <% } else { %>
          <p><%= item['startYear'] + " - " + item['startYear'] + " " + item['label'] %></p>
        <% } %>
        <% }); %>
        </div>
        <% } %>

      <!--<% if (pastappointments.length > 0) { %>
      <% pastappointments.sort(function(a,b) {return (a.startYear > b.startYear)  ? 1 : ((b.startYear > a.startYear) ? -1 : 0);} ); %>
        <div class="regular_10">
        <% _.forEach(pastappointments, function(item) { %>
        <p><%= item['startYear'] + " - " + item['endYear'] + ", " + item['label'] %></p>
        <% }); %>
        </div>
        <% } %>-->

        <br/>
       <div class="heading_12">
        <p>Honors</p>
      </div>
      <% if (awards.length > 0) { %>
        <br/>
        <% _.forEach(awards, function(item) { %>
        <div class="heading_11"><%= item['label'] %></div>
        <% }); %>
      <% } %>

      <% if (licences.length > 0) { %>
      <% var lic = ""; %>
      <% _.forEach(licences, function(item) { %>
      <% lic = item['label']; %>
      <% }); %>
      <div class="heading_11"><p>${lic}</p></div>
      <% } %>
      </div>

    <div class="row">
    <div class="heading_14">
      <p>C. Contribution to Science</p>
    </div>
    </div>

    <div class="row">
    <div class="heading_14">
      <p>D. Additional Information: Research Support</p>
    </div>

   <% var mergeExpPos = Object.assign(currentGrants,currentGifts) %>

   <% if (mergeExpPos.length > 0) { %>
    <% mergeExpPos.sort(function(a,b) {return (a.startYear > b.startYear) ? 1 : ((b.startYear > a.startYear) ? -1 : 0);} ); %>
     <div class="row">&nbsp;</div>
       <div class="heading_12">
        <p>Ongoing Research Support</p>
      </div>
    </div>
    <table border="0" id="grants_table">
    <% _.forEach(mergeExpPos, function(item) { %>
     <div class="heading_11">
          <tr>
          <td width="15%">
            <p><%= item['period'] %></p>
          </td>
          <td width="45%">
             <p>Title: <%= item['title'] %></p>
          </td>
          <td width="40%">
          </td>
        </tr>
        <tr>
          <td width="15%">
          </td>
          <td width="45%">
            <p>Role: <%= item['role'] %></p>
          </td>
          <td width="40%">
            <p>Sponsor/Donor: <%= item['donor'] %></p>
          </td>
        </tr>
        </div>
          <% }); %>
        </table>
    <% } %>

   <% var mergeExpPos = Object.assign(completedGrants,completedGifts) %>
   <% if (mergeExpPos.length > 0) { %>
   <% mergeExpPos.sort(function(a,b) {return (a.startYear > b.startYear) ? 1 : ((b.startYear > a.startYear) ? -1 : 0);} ); %>
      <div class="row">&nbsp;</div>
       <div class="heading_12">
        <p>Completed Research Support</p>
      </div>
   </div>

 <table border="0" id="grants_table">
    <% _.forEach(mergeExpPos, function(item) { %>
     <div class="heading_11">
        <tr>
          <td width="15%">
            <p><%= item['period'] %></p>
          </td>
          <td width="45%">
             <p>Title: <%= item['title'] %></p>
          </td>
          <td width="40%">
          </td>
        </tr>
        <tr>
          <td width="15%">
          </td>
          <td width="45%">
            <p>Role: <%= item['role'] %></p>
          </td>
          <td width="40%">
            <p>Sponsor/Donor: <%= item['donor'] %></p>
          </td>
        </tr>
        </div>
          <% }); %>
      </table>
    <% } %>


 </div>
</body>
</html>

