<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CV: ${name}</title>
    
    <style>
     h1 { font-size: 150%; }
     h2 { font-size: 135%; }
     h3 { font-size: 115%; }
     h4 { font-size: 100%; }
     ol { margin-left: 25px; text-indent: -25px; }
     ul { margin-left: 25px; text-indent: -25px; }
     p { line-height: 6pt; margin-top: 3pt; margin-bottom: 0pt; }
     div.heading_12 { font-size: 12pt; font-family: Arial; font-weight: bold; text-align: center; line-height:12pt; }
     div.heading_12_left { font-size: 12pt; font-family: Arial; font-weight: bold; text-align: left; line-height:12pt; }
     div.heading_10_center { font-size: 10pt; font-family: "Times New Roman"; text-align: center; line-height: 12pt; }
     div.heading_10_right { font-size: 10pt; font-family: "Times New Roman"; text-align: right; line-height: 12pt; }
     div.heading_10_sub { font-size: 10pt; font-family: Arial; font-weight: bold; line-height:12pt; margin-top: 6pt;}
     div.regular_12 { font-size: 12pt; font-family: "Times New Roman"; }
     div.container { width: 100%; }
     div.row { margin-bottom: 1em; padding-bottom: 1em;}
     div.slight-indent { margin-left: 24pt; }
     .regular_10 { font-size: 10pt; font-family: "Times New Roman"; }
     .heading_10 { font-size: 10pt; font-family: Arial; font-weight: bold; line-height:12pt; }
     .regular_10_italic { font-size: 10pt; font-family: "Times New Roman"; font-style: italic; font-weight: normal; }
     #pasted { font-size: 10pt; font-family:'Times New Roman'; }
     .times_10_bold{ font-size:10pt; font-family:TimesNewRoman; font-weight: bold; }
     .times_10_bold_red{ font-size:10pt; font-family:TimesNewRoman; font-weight: bold; color:red; }
     .times_10_regular{ font-size:10pt; font-family:TimesNewRoman; }
     .break { page-break-before: always; }
     .br.nospace { display: none; }
    </style>
  </head>
  <body>
   
  <div id="content">
  <div class="container">

    <% var degree = ""; %>
    <% _.forEach(educations, function(item) { %>
      <% if (item['label'].indexOf(",") > 0) { %>
      <% var n = item['label'].indexOf(","); %>
      <% degree += item['label'].substr(0,n) + ", "; %>
      <% } %>
    <% }); %>
    <% degree = degree.slice(0, -2); %>
    
    <!-- Cover Sheet -->

    <div class="heading_12">Scholars@Duke Users: How to Complete the APT CV </div>
    
    <div class="times_10_regular">
          <ul>      
              <li><p>The School of Medicine APT CV contains output from your Scholars@Duke profile displayed in a Word document that you can edit directly.</p></li>
              <li><p>To make permanent changes, you must add or correct information in the source systems, either Scholars@Duke, Elements, dFac (Duke’s faculty system) or SPS (Duke’s Sponsored Projects System).</p></li>
              <li><p>Titles, affiliations, and educational information comes from dFac, Duke’s faculty system. To add or correct information in dFac, contact your organization's Scholars power user(s).</p></li>
              <li><p>For more information, refer to <a href="https://about.scholars.duke.edu/sites/default/files/Creating%20the%20SOM%20APT%20CV%20in%20Scholars.pdf" target="_blank">Using the Scholars APT CV.</a></p></li>
              <li><p class="times_10_bold_red">Delete this cover page before submitting your CV.</p></li>
          </ul>
    </div>
  
    <div class="heading_10_sub">Correcting and editing source information</div>
    <div class="times_10_bold"><p style="margin-bottom:0pt;">Name and Degrees:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Primary Academic Appointment:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Secondary Academic Appointment:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Rank and date of first Duke Faculty Appointment:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Medical License Number and Date:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the "Medical Licensure" section.</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Education:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Professional Training and Academic Career:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Specialty Certifications and Dates:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Duke University Faculty Appointments:</p></div>
    <div class="times_10_regular">Must be updated in dFac on your behalf; contact your organization's Scholars power user(s).</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Publications:</p></div>
    
    <div class="times_10_regular">Add or edit in Elements, the publications system. Click the Help button to learn more about how to use Elements to add, edit, or claim your publications.</div>

    <div class="times_10_regular">Publications from your Scholars@Duke profile will appear (or not appear) on this CV based on how the record 
    (from PubMed, Scopus, Web of Science, etc.) was tagged at the source. For a full explanation of how publications are categorized 
    on the SoM CV, see <a href="https://about.scholars.duke.edu/medicinecv" target="_blank">https://about.scholars.duke.edu/medicinecv</a>. 
    Note that the categorization rules are determined by the Duke School of Medicine APT Committee and any changes would need to be approved by that committee.
    </div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Advisory and Consultant Appointments:</p></div>
    <div class="times_10_regular">Add to your Scholars@Duke profile in the Service to the Profession section using service type "Consulting".</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Scholarly Societies:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Awards and Honors section using award type "Scholarly Society".</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Professional Awards and Special Recognitions:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Awards and Honors section</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Scientific Reviewer:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Service to the Profession section using service type "Editorial Activities".</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Professional Societies, Service Organizations:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Service to the Profession section.</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Research Support:</p></div>
    <div class="times_10_regular">Grants data comes from SPS and must be corrected on your behalf by your organization’s Scholars power user. Supplement this information using the "Fellowships, Supported Research & Other Grants" section in Scholars@Duke. You’ll need to add Grants Direct Costs and Grants Percent Effort directly to the generated CV Word document.</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Mentoring Activities:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Advising and Mentoring section</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Education / Teaching Activities:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Teaching Activities section</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Invited Lectures and Presentations:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Presentations and Appearances section using the following subtypes:</div>

    <div class="times_10_regular">
          <ul>      
              <li><p>Named Lectures: Use type Keynote/Named Lecture </p></li>
              <li><p>Visiting Professorships: Use type Visiting Professorship Lecture </p></li>
              <li><p>International Meetings (Invited): Use service type "International Meeting or Conference". Do not include abstract presentations, industry sponsored symposiums, etc.</p></li>
              <li><p>National Scientific Meetings (Invited): Use service type "National Scientific Meeting". Do not include abstract presentations, industry sponsored symposiums, etc.</p></li>
              <li><p>Instructional Courses, workshops, symposiums (National): Use service type "Instructional Course, Workshop, or Symposium"</p></li>
          </ul>
    </div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Clinical Activities:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Clinical Activities section</div>

    <div class="times_10_bold"><p style="margin-bottom:0pt;">Academic, Leadership, and Administrative Activities:</p></div>
    <div class="times_10_regular">Add in Scholars@Duke in the Academic & Administrative Activities section. Scholars@Duke does not distinguish between School of Medicine and Hospital/DUHS activities, so you may need to move entries under the appropriate section in the exported CV Word document.</div>

    <div class="times_10_regular">If you have questions or need help, please contact your department’s <a href="http://about.scholars.duke.edu/locate-power-user" target="_blank">Scholars power user </a>to submit a Help ticket.</div>
    <!-- Page Break -->
    <div class="break"><br class="no-space"/></div>

    <!-- CV Document -->
    <div class="heading_12">
      DUKE UNIVERSITY MEDICAL CENTER
      <br/>
      CURRICULUM VITAE
      <br/>
      for the Permanent Record
      <br/>
      and the
      <br/>
      Appointments, Promotions and Tenure Committee 
    </div>

     <% var dt = new Date(); %>
     <% var today = "" %>
     <% var monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"]; %>
     <% today = monthNames[dt.getMonth()] + " " + dt.getDate() + ", " + dt.getFullYear(); %>
     
    <div class="heading_10_right">
        <p style="margin-bottom: 6pt;">Date CV prepared: ${today}</p>
    </div>

    <div class="heading_12_left">
      Name: <% if (degree != undefined && degree != "") { %>
      ${name}, ${degree}
      <% } else { %>
      ${name}
      <% } %>
    </div>

    <% if(primaryPositions.length > 0) { %>
        <% var title = ""; %>
        <% var organizationLabel = ""; %>
        <% _.forEach(primaryPositions, function(item) { %>
        <% title += item['label'] + ', '; %>
        <% organizationLabel += item['organizationLabel'] + ', '; %>
        <% }); %>
        <% title = title.slice(0,-2); %>
        <% organizationLabel = organizationLabel.slice(0,-2); %>

         <div class="row"><span class="heading_10">PRIMARY ACADEMIC RANK: </span> <span class="regular_10">${title}</span></div>

         <div class="row"><span class="heading_10">PRIMARY ACADEMIC DEPARTMENT: </span> <span class="regular_10">${organizationLabel}</span></div>
    <% } %>

    <% if(secondaryPositions.length > 0) { %>
        <% var title = ""; %>
        <% var organizationLabel = ""; %>
        <% _.forEach(secondaryPositions, function(item) { %>
        <% title += item['label'] + ', '; %>
        <% organizationLabel += item['organizationLabel'] + ', '; %>
        <% }); %>
        <% title = title.slice(0,-2); %>
        <% organizationLabel = organizationLabel.slice(0,-2); %>

        <div class="row"><span class="heading_10">SECONDARY ACADEMIC RANK: </span> <span class="regular_10">${title}</span></div>
        
        <div class="row"><span class="heading_10">SECONDARY ACADEMIC DEPARTMENT: </span> <span class="regular_10">${organizationLabel}</span></div>
    <% } %>
  
        <div class="row"><span class="heading_10">OTHER TITLES: </span><br/>
            <span class="regular_10_italic">List any other titles here, one title per row.</span>
            <div class="regular_10">
              <% if(otherPositions.length > 0) { %>
                <% var title = ""; %>
                <% _.forEach(otherPositions, function(item) { %>
                <% title = item['label']; %>
                <p>${title}&nbsp;</p>
                <% }); %>
            <% } %>
            </div>
        </div>  

    <% if (pastAppointments.length > 0) { %>
        <% var title = ""; %>
        <% _.forEach(pastAppointments, function(item) { %>
        <% title = item['orig_label'] + ', ' + item['startYear'] + ', '; %>
        <% }); %>
      <% title = title.replace(/,\s*$/, ""); %>
      <div class="row"><span class="heading_10">RANK AND DATE OF FIRST DUKE FACULTY APPOINTMENT: </span> <span class="regular_10">${title}</span></div>
        
    <% } %>

    <% if (licences.length > 0) { %>
        <% var lic = ""; %>
        <% _.forEach(licences, function(item) { %>
        <% lic = item['label']; %>
        <% }); %>

        <div class="row"><span class="heading_10">NC MEDICAL BOARD LICENSE CERTIFICATE NUMBER: </span> <span class="regular_10">${lic}</span>
        </br>
        <span class="regular_10">&emsp;Next Renewal Date: [ENTER NEXT RENEWAL DATE HERE]</span>
        </div>
     <% } %>

    <div class="row">
      <div class="heading_10">SPECIALTY CERTIFICATIONS AND DATES<br>
      <span class="regular_10_italic">Include full dates of certification (month, day and year).</span></div>
      <div class="regular_10">
        <p>&nbsp;</p>
      </div>
    </div>
    
    <% if (educations.length > 0) { %>
    <% educations.sort(function(a,b) {return (a.endYear > b.endYear) ? 1 : ((b.endYear > a.endYear) ? -1 : 0);} ); %>
    <div class="row">
      <div class="heading_10">EDUCATION <br>
      <span class="regular_10_italic">List degree, institution, location and year for high school, college, and graduate/professional school degrees in chronological order (oldest first).</span></div>
      <div class="regular_10">
      <% _.forEach(educations, function(item) { %>
       <p><%= item['label'] %></p>
      <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
      <div class="heading_10">EDUCATION <br>
      <span class="regular_10_italic">List degree, institution, location and year for high school, college, and graduate/professional school degrees in chronological order (oldest first).</span></div>
      <div class="regular_10">
        <p>&nbsp;</p>
      </div>
    </div>  
    <% } %>
    

    <% var mergeExpPos = Object.assign(profExperiences, otherPositions) %>
  
    <% if (mergeExpPos.length > 0) { %>
    <% mergeExpPos.sort(function(a,b) {return (a.startYear > b.startYear) ? 1 : ((b.startYear > a.startYear) ? -1 : 0);} ); %>
    <div class="row">
      <div class="heading_10">PROFESSIONAL TRAINING AND ACADEMIC CAREER <br>
      <span class="regular_10_italic">Beginning with first postgraduate position, list institution, position/title and dates in chronological order.</span>
      </div>
      <div class="regular_10">
      
      <% _.forEach(mergeExpPos, function(item) { %>
        <% var position = item['label'].substring(0, item['label'].indexOf(",")); %>
        <% if (position == '') { %>
          <% position = 'position undefined' %>
          <% } %>
        <% var institution = item['label'].substring(item['label'].indexOf(",")+1); %>
       <p><%= institution + "," + position + ", " + item['startYear'] + " - " + item['endYear'] %></p>
      <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
      <div class="heading_10">PROFESSIONAL TRAINING AND ACADEMIC CAREER <br>
      <span class="regular_10_italic">Beginning with first postgraduate position, list institution, position/title and dates in chronological order.</span>
      </div>
      <div class="regular_10">
        <p>&nbsp;</p>
      </div>
    </div>
    <% } %>
    
  <% if (academicAppointments.length > 0) { %>
    <% academicAppointments.sort(function(a,b) {return (a.startYear < b.startYear) ? 1 : ((b.startYear < a.startYear) ? -1 : 0);} ); %>
    <div class="row">
      <div class="heading_10">DUKE UNIVERSITY FACULTY ACADEMIC APPOINTMENTS</div>
      <div class="regular_10">
        <% _.forEach(academicAppointments, function(item) { %>
          <% if(item['endYear'] != null)  { %>
            <p><%= item['startYear'] + " - " + item['endYear'] + ", " + item['orig_label'] %></p>
          <% } else { %>    
            <p><%= item['startYear'] + " - " + "present" + ", " + item['orig_label'] %></p>
        <% } %>
       <% }); %>
      </div>
    </div>
    <% } else { %>
     <div class="row">
      <div class="heading_10">DUKE UNIVERSITY FACULTY ACADEMIC APPOINTMENTS</div>
      <div class="regular_10">
        <p>&nbsp;</p>
      </div>
     </div>
    <% } %>


  <% if (administrativeAppointments.length > 0) { %>
    <% administrativeAppointments.sort(function(a,b) {return (a.startYear < b.startYear) ? 1 : ((b.startYear < a.startYear) ? -1 : 0);} ); %>
    <div class="row">
      <div class="heading_10">DUKE UNIVERSITY FACULTY ADMINISTRATIVE APPOINTMENTS</div>
      <div class="regular_10">
        <% _.forEach(administrativeAppointments, function(item) { %>
          <% if(item['endYear'] != null)  { %>
            <p><%= item['startYear'] + " - " + item['endYear'] + ", " + item['orig_label'] %></p>
          <% } else { %>    
            <p><%= item['startYear'] + " - " + "present" + ", " + item['orig_label'] %></p>
        <% } %>
       <% }); %>
      </div>
    </div>
  <% } else { %>
    <div class="row">
      <div class="heading_10">DUKE UNIVERSITY FACULTY ADMINISTRATIVE APPOINTMENTS</div>
      <div class="regular_10">
        <p>&nbsp;</p>
      </div>
     </div>
  <% } %>


    <div class="row">
      <div class="heading_10">SCHOLARSHIP<br>
        <span class="regular_10_italic">For journal references:<br>
                &bull;&nbsp;&nbsp;PubMed citation format preferred<br>
                &bull;&nbsp;&nbsp;Include PMID, PMCID, DOI (if available)<br>
                &bull;&nbsp;&nbsp;Number entries sequentially in chronological order, with 1 being the oldest<br>
                &bull;&nbsp;&nbsp;List all authors, do not use "et al."<br>
                &bull;&nbsp;&nbsp;Highlight your name in bold<br>
                &bull;&nbsp;&nbsp;Do not list papers in preparation, submitted papers that have not been accepted for publication<br>
                &bull;&nbsp;&nbsp;Identify papers accepted for publication but not yet published as "in press"<br>
                &bull;&nbsp;&nbsp;Include notation if co-first author (e.g., mark with asterisk or caret, describe co-author role)<br>
                &bull;&nbsp;&nbsp;Include notation if scholarship in JEDAI, advocacy, open science domains (e.g., mark with asterisk or caret, identify domain)<br><br>
        </span>
      </div>
       
        <% journals.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>

        <% if (journals.length > 0) { %>
        <div class="row">
         <div class="heading_10">A. Publications in refereed journals<br>
          <span class="regular_10_italic">Refereed journals are scientific publications that have active editorial boards and a system of critical review of all submissions), including:<br>
                    &bull;&nbsp;&nbsp;Named author publications<br>
                    &bull;&nbsp;&nbsp;Study Group publications (multicenter investigations where you were a PI or investigator, but not a named author)<br>
                    &bull;&nbsp;&nbsp;Letters and editorials<br>
                    &bull;&nbsp;&nbsp;Invited scientific reviews<br>
                    &bull;&nbsp;&nbsp;Position and background papers (e.g., guidelines, consensus statements)<br>
            </span>
          </div>
         <div class="regular_10">
          <ol>
          <% _.forEach(journals, function(item) { %>              
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">A. Publications in refereed journals<br>
            <span class="regular_10_italic">Refereed journals are scientific publications that have active editorial boards and a system of critical review of all submissions), including:<br>
                    &bull;&nbsp;&nbsp;Named author publications<br>
                    &bull;&nbsp;&nbsp;Study Group publications (multicenter investigations where you were a PI or investigator, but not a named author)<br>
                    &bull;&nbsp;&nbsp;Letters and editorials<br>
                    &bull;&nbsp;&nbsp;Invited scientific reviews<br>
                    &bull;&nbsp;&nbsp;Position and background papers (e.g., guidelines, consensus statements)<br>
            </span>
         </div>
         <div class="regular_10">
            <p>&nbsp;</p>
          </div>
        </div>
        
        <% } %>

        <!-- <% manuscripts.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (manuscripts.length > 0) { %>
        <div class="row">
         <div class="heading_10">Study-related manuscripts on multicenter clinical trials</div>
         <div class="regular_10">
          <ol>
          <% _.forEach(manuscripts, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Study-related manuscripts on multicenter clinical trials</div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %> 

        <% letters.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (letters.length > 0) { %>
        <div class="row">
         <div class="heading_10">Letters</div>
         <div class="regular_10">
          <ol>
          <% _.forEach(letters, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Letters</div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %>

        <% editorials.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (editorials.length > 0) { %>
        <div class="row">
         <div class="heading_10">Editorials</div>
         <div class="regular_10">
          <ol>
          <% _.forEach(editorials, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
         </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Editorials</div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %> -->

        <% books_booksections.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (books_booksections.length > 0) { %>
        <div class="row">
         <div class="heading_10">B. Books<br>
          <span class="regular_10_italic">(Include books and book chapters)</span>
         </div>
         <div class="regular_10">
          <ol>
          <% _.forEach(books_booksections, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
          <div class="heading_10">B. Books<br>
           <span class="regular_10_italic">(Include books and book chapters)</span>
          </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %>
        
        <div class="row">
         <div class="heading_10">C. Digital output and other forms of public dissemination<br>
            <span class="regular_10_italic">Social media, traditional media (e.g. broadcast, news media)</span>
         </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>

        <% abstracts.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (abstracts.length > 0) { %>
        <div class="row">
         <div class="heading_10">D. Abstracts<br>
            <span class="regular_10_italic">List up to 10 of your most impactful abstracts</span>
         </div>
         
         <div class="regular_10">
          <ol>
          <% _.forEach(abstracts, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">D. Abstracts<br>
            <span class="regular_10_italic">List up to 10 of your most impactful abstracts</span>
         </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %>

        <% abstracts.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (abstracts.length > 0) { %>
        <div class="row">
         <div class="heading_10">E. Non-refereed publications<br>
            <span class="regular_10_italic">(Non-refereed publications refer to published manuscripts which are not subject to a system of critical review – articles are often solicited by the publisher)</span>
         </div>
         
         <div class="regular_10">
          <ol>
          <% _.forEach(abstracts, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">E. Non-refereed publications<br>
            <span class="regular_10_italic">(Non-refereed publications refer to published manuscripts which are not subject to a system of critical review – articles are often solicited by the publisher)</span>
         </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %>

        <div class="row">
          <div class="heading_10">F. Other forms of scholarship dissemination (not included above)<br>
          </div>
          <div class="regular_10">
           <p>&nbsp;</p>
          </div>
         </div>

        <!-- <% reviews.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (reviews.length > 0) { %>
        <div class="row">
         <div class="heading_10">Scientific reviews</div>
         <div class="regular_10">
          <ol>
          <% _.forEach(reviews, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Scientific reviews</div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %> -->

        <% nonauthored.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (nonauthored.length > 0) { %>
        <div class="row">
         <div class="heading_10">Non-authored publications</div>
         <div class="regular_10">
          <ol>
          <% _.forEach(nonauthored, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Non-authored publications</div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %>

        <% others.sort(function(a,b) {return (a.year > b.year) ? 1 : ((b.year > a.year) ? -1 : 0);} ); %>
        <% if (others.length > 0) { %>
        <div class="row">
         <div class="heading_10">Other publications</div>
         <div class="regular_10">
          <ol>
          <% _.forEach(others, function(item) { %>
              <li><p><%= item['citation'].replace(lastName,"<b>" + lastName + "</b>") %></p></li>
          <% }); %>
          </ol>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Other publications</div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
        <% } %>

    </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="heading_10">APPOINTMENTS AND RECOGNITION</div>
    </div>
    
    <% if (prof_editorial_activities.length > 0) { %>
    <% prof_editorial_activities.sort(function(a,b) {return (a.date > b.date) ? 1 : ((b.date > a.date) ? -1 : 0);} ); %>
    <div class="row">
    <div class="heading_10">A. Scientific reviewer (e.g. editorial boards, study section review group)</div>
    <div class="regular_10">
    <% _.forEach(prof_editorial_activities, function(item) { %>
                    <p><%= item['label'] %></p>
              <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
    <div class="heading_10">A. Scientific reviewer (e.g. editorial boards, study section review group)</div>
     <div class="regular_10">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %> 
    
    
   <% full_org_and_participation_list.sort(function(a,b) {return (a.date > b.date) ? 1 : ((b.date > a.date) ? -1 : 0);} ); %>
   <% if (full_org_and_participation_list.length > 0) { %>
    <div class="row">
    <div class="heading_10">B. Professional societies, service organizations (list membership status, leadership positions, committee membership, etc.)</div>
    <div class="regular_10">
        <% _.forEach(full_org_and_participation_list, function(item) { %>
                   <p><%= item['label'] %></p>
        <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
     <div class="heading_10">B. Professional societies, service organizations (list membership status, leadership positions, committee membership, etc.)</div>
     <div class="regular_10">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %> 
    

   <% if (prof_consulting.length > 0) { %>
   <% prof_consulting.sort(function(a,b) {return (a.date > b.date) ? 1 : ((b.date > a.date) ? -1 : 0);} ); %>
    <div class="row">
    <div class="heading_10">C. Advisory and consultant appointments (include government, non-government organizations, life science companies, private organizations, etc.)</div>
    <div class="regular_10">
     <% _.forEach(prof_consulting, function(item) { %>
      <p><%= item['label'] %></p>
     <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
     <div class="heading_10">C. Advisory and consultant appointments (include government, non-government organizations, life science companies, private organizations, etc.)</div>
     <div class="regular_10">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %>

    <% if (scholarlySocieties.length > 0) { %>
    <div class="row">
    <div class="heading_10">D. Scholarly societies (Alpha Omega Alpha, Sigma Xi, Phi Beta Kappa, etc.)</div>
    <div class="regular_10">
    <% _.forEach(scholarlySocieties, function(item) { %>
                    <p><%= item['label'] %></p>
              <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
     <div class="heading_10">D. Scholarly societies (Alpha Omega Alpha, Sigma Xi, Phi Beta Kappa, etc.)</div>
     <div class="regular_10">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %> 

    <% if (awards.length > 0) { %>
    <div class="row">
    <div class="heading_10">E. Professional awards and recognition</div>
    <div class="regular_10">
    <% _.forEach(awards, function(item) { %>
                    <p><%= item['label'] %></p>
              <% }); %>
    </div>
    </div>
    <% } else { %>
    <div class="row">
     <div class="heading_10">E. Professional awards and recognition</div>
     <div class="regular_10">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %> 
    
    <hr>

    <div class="row">
      <div class="heading_10">RESEARCH SUPPORT <br>
        <span class="regular_10_italic">Complete the following sections for all external present, past, and pending support including gifts, grants, and contracts:</span></div><br/>
      
        <% if (currentGrants.length > 0) { %>
        <div class="row">
         <div class="heading_10">Current</div>
         <div class="regular_10">
          <% _.forEach(currentGrants, function(item) { %>
              <p><b>Project Title</b>: <%= item['title'] %></p>
              <p><b>Grant number</b>: </p>
              <p><b>PI</b>: <%= item['pi'] %></p>
              <p><b>Role</b>: <%= item['role'] %></p>
              <p><b>Percent effort</b>: </p>
              <p><b>Funding source</b>: <%= item['awardedBy'] %></p>
              <p><b>Funding amount</b>: </p>
              <p><b>Duration</b>: <%= item['period'] %></p>
              <p><b>Project synopsis</b>: </p>
              <br/><br/>
          <% }); %>
         </div>
        </div>
       <% } else { %>
       <div class="row">
         <div class="heading_10">Current</div>
         <div class="regular_10">
              <p><b>Project Title</b>: </p>
              <p><b>Grant number</b>: </p>
              <p><b>PI</b>: </p>
              <p><b>Role</b>: </p>
              <p><b>Percent effort</b>: </p>
              <p><b>Funding source</b>: </p>
              <p><b>Funding amount</b>: </p>
              <p><b>Duration</b>: </p>
              <p><b>Project synopsis</b>: </p>
              <br/><br/>
         </div>
       </div>
       <% } %> 

       <% if (completedGrants.length > 0) { %>
        <div class="row">
         <div class="heading_10">Completed</div>
         <div class="regular_10">
          <% _.forEach(completedGrants, function(item) { %>
              <p><b>Project Title</b>: <%= item['title'] %></p>
              <p><b>Grant number</b>: </p>
              <p><b>PI</b>: <%= item['pi'] %></p>
              <p><b>Role</b>: <%= item['role'] %></p>
              <p><b>Percent effort</b>: </p>
              <p><b>Funding source</b>: <%= item['awardedBy'] %></p>
              <p><b>Funding amount</b>: </p>
              <p><b>Duration</b>: <%= item['period'] %></p>
              <p><b>Project synopsis</b>: </p>
              <br/><br/>
          <% }); %>
         </div>
        </div>
       <% } else { %>
       <div class="row">
         <div class="heading_10">Completed</div>
         <div class="regular_10">
              <p><b>Project Title</b>: </p>
              <p><b>Grant number</b>: </p>
              <p><b>PI</b>: </p>
              <p><b>Role</b>: </p>
              <p><b>Percent effort</b>: </p>
              <p><b>Funding source</b>: </p>
              <p><b>Funding amount</b>: </p>
              <p><b>Duration</b>: </p>
              <p><b>Project synopsis</b>: </p>
              <br/><br/>
         </div>
       </div>
       <% } %> 
     
       <% if (pendingGrants.length > 0) { %>
        <div class="row">
         <div class="heading_10">Pending</div>
         <div class="regular_10">
          <% _.forEach(pendingGrants, function(item) { %>
              <p><b>Project Title</b>: <%= item['title'] %></p>
              <p><b>Grant number</b>: </p>
              <p><b>PI</b>: <%= item['pi'] %></p>
              <p><b>Role</b>: <%= item['role'] %></p>
              <p><b>Percent effort</b>: </p>
              <p><b>Funding source</b>: <%= item['awardedBy'] %></p>
              <p><b>Funding amount</b>: </p>
              <p><b>Duration</b>: <%= item['period'] %></p>
              <p><b>Project synopsis</b>: </p>
              <br/><br/>
          <% }); %>
         </div>
        </div>
      <% } else { %>
       <div class="row">
         <div class="heading_10">Pending</div>
         <div class="regular_10">
              <p><b>Project Title</b>: </p>
              <p><b>Grant number</b>: </p>
              <p><b>PI</b>: </p>
              <p><b>Role</b>: </p>
              <p><b>Percent effort</b>: </p>
              <p><b>Funding source</b>: </p>
              <p><b>Funding amount</b>: </p>
              <p><b>Duration</b>: </p>
              <p><b>Project synopsis</b>: </p>
              <br/><br/>
         </div>
       </div>
       <% } %>

    </div>
    
    <hr>

    <% if (mentorship_activities) { %>
    <div class="row">
    <div class="heading_10">MENTORING ACTIVITIES <br>
      <span class="regular_10_italic">For each mentee list the duration of mentor-mentee relationship and any resulting scholarship (e.g., abstract, manuscript, presentation, award, grant, academic appointment)<br>
        &bull;&nbsp;&nbsp;Faculty<br>
        &bull;&nbsp;&nbsp;Fellows<br>
        &bull;&nbsp;&nbsp;Residents<br>
        &bull;&nbsp;&nbsp;Medical Students<br>
      </span>
    </div>
    <div style="font-size:10pt; font-family:TimesNewRoman;">
      <p>${mentorship_activities}</p>
    </div>
    </div>
    <% } else { %>
    <div class="row">
     <div class="heading_10">MENTORING ACTIVITIES <br>
      <span class="regular_10_italic">For each mentee list the duration of mentor-mentee relationship and any resulting scholarship (e.g., abstract, manuscript, presentation, award, grant, academic appointment).<br>
        &bull;&nbsp;&nbsp;Faculty<br>
        &bull;&nbsp;&nbsp;Fellows<br>
        &bull;&nbsp;&nbsp;Residents<br>
        &bull;&nbsp;&nbsp;Medical Students<br>
      </span>
    </div>
     <div style="font-size:10pt; font-family:TimesNewRoman;">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %>

    <% if (teaching_activities) { %>
    <div class="row">
    <div class="heading_10">EDUCATION / TEACHING ACTIVITIES (residents, fellows, medical students, CME)<br>
      <span class="regular_10_italic">Describe activities teaching and providing educational support for residents, medical students, and continuing medical education. List activities by:<br/>
          &bull;&nbsp;&nbsp;Lectures (title, data): <br/>
          &bull;&nbsp;&nbsp;Courses taughts (title, course number, date, audience): <br/>
          &bull;&nbsp;&nbsp;Education program development (title of program, date first available): <br/> 
          &bull;&nbsp;&nbsp;Education assessment methods and tools development (title of tool, date first available):<br/>
          &bull;&nbsp;&nbsp;Education management and leadership (title, dates – e.g., fellowship director): <br>      
       </span></div>
    <div class="regular_10">
      <p>${teaching_activities}</p>
    </div>
    </div> 
    <% } else { %>
    <div class="row">
    <div class="heading_10">EDUCATION / TEACHING ACTIVITIES <br>
          <span class="regular_10_italic">Describe activities teaching and providing educational support for residents, medical students, and continuing medical education. List activities by:<br/>
          &bull;&nbsp;&nbsp;Teaching and supporting learners<br/>
          &bull;&nbsp;&nbsp;Development of courses / educational programs<br/>
          &bull;&nbsp;&nbsp;Development of assessment tools and methods<br/> 
          &bull;&nbsp;&nbsp;Education management / leadership<br>
       </span></div>
     <div class="regular_10">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %> 

    <div class="row">
     <div class="heading_10">INVITED LECTURES AND PRESENTATIONS (do not list abstract presentations)<br>
      <span class="regular_10_italic">
        &bull;&nbsp;&nbsp;Visiting professorships (institution, date)<br>
        &bull;&nbsp;&nbsp;Scientific meetings – invited (lecture title, meeting, date)<br>
        &bull;&nbsp;&nbsp;Courses, symposiums, workshops – invited (lecture title, meeting role, meeting, date)<br><br>
      </span>
     </div>
     
     <% if (professorships.length > 0) { %>
        <div class="row">
         <div class="heading_10">Visiting professorships (institution, date): </div>
         <div class="regular_10">
          <% _.forEach(professorships, function(item) { %>
              <p><%= item['label'] %></p>
          <% }); %>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Visiting Professorships (institution, date): </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
      <% } %>
      
      
      <% if (internationalmeetings.length > 0) { %>
        <div class="row">
         <div class="heading_10">International Meetings</div>
         <div class="regular_10">
          <% _.forEach(internationalmeetings, function(item) { %>
              <p><%= item['label'] %></p>
          <% }); %>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">International Meetings: </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
      <% } %>

      <% if (nationalmeetings.length > 0) { %>
        <div class="row">
         <div class="heading_10">Scientific Meetings -- invited (lecture title, date): </div>
         <div class="regular_10">
          <% _.forEach(nationalmeetings, function(item) { %>
              <p><%= item['label'] %></p>
          <% }); %>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Scientific Meetings -- invited (lecture title, date): </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
      <% } %>
     
     <% if (lectures.length > 0) { %>
        <div class="row">
         <div class="heading_10">Named Lectures: </div>
         <div class="regular_10">
          <% _.forEach(lectures, function(item) { %>
              <p><%= item['label'] %></p>
          <% }); %>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Named Lectures: </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
      <% } %>

      <% if (courses.length > 0) { %>
        <div class="row">
         <div class="heading_10">Courses, symposiums, workshops – invited (lecture title, meeting role, meeting, date): </div>
         <div class="regular_10">
          <% _.forEach(courses, function(item) { %>
              <p><%= item['label'] %></p>
          <% }); %>
         </div>
        </div>
        <% } else { %>
        <div class="row">
         <div class="heading_10">Courses, symposiums, workshops – invited (lecture title, meeting role, meeting, date): </div>
         <div class="regular_10">
          <p>&nbsp;</p>
         </div>
        </div>
      <% } %>
    </div>
    
    
    <% if (clinical_activities) { %>
    <div class="row">
    <div class="heading_10">CLINICAL ACTIVITY<br/>
      <span class="regular_10_italic">Describe clinical focus or specialization, clinical commitment as % effort, documentation of regional /institutional referral patterns)</span>
    </div>
      <div style="font-size:10pt; font-family:TimesNewRoman;">
        <p>${clinical_activities}</p>
      </div>
    </div>
    <% } else { %>
    <div class="row">
     <div class="heading_10">CLINICAL ACTIVITY<br/>
       <span class="regular_10_italic">Describe clinical focus or specialization, clinical commitment as % effort, documentation of regional /institutional referral patterns)</span>
     </div>
     <div style="font-size:10pt; font-family:TimesNewRoman;">
      <p>&nbsp;</p>
     </div>
    </div>
    <% } %>
    

    <% if (academic_activities) { %>
    <div class="row">
    <div class="heading_10">ACADEMIC, LEADERSHIP AND ADMINISTRATIVE ACTIVITIES – SCHOOL OF MEDICINE (list roles / responsibilities, include dates)<br>
    </div>
    <div style="font-size:10pt; font-family:TimesNewRoman;">
      <p style="margin-top: 6pt;">${academic_activities}</p>
    </div>
    </div>
    <div class="row">
      <div class="heading_10">ACADEMIC, LEADERSHIP AND ADMINISTRATIVE ACTIVITIES – HOSPITAL/DUHS (list roles / responsibilities, include dates)<br>
      </div>
      <div style="font-size:10pt; font-family:TimesNewRoman;">
        <p>&nbsp;</p>
      </div>
    </div>
    <% } else { %>
    <div class="row">
      <div class="heading_10">ACADEMIC, LEADERSHIP AND ADMINISTRATIVE ACTIVITIES – SCHOOL OF MEDICINE (list roles / responsibilities, include dates)<br>
      </div>
      <div style="font-size:10pt; font-family:TimesNewRoman;">
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="heading_10">ACADEMIC, LEADERSHIP AND ADMINISTRATIVE ACTIVITIES – HOSPITAL/DUHS (list roles / responsibilities, include dates)<br>
      </div>
      <div style="font-size:10pt; font-family:TimesNewRoman;">
        <p>&nbsp;</p>
       </div>
    </div>
    <% } %>
    
 </div>
</body>
</html>
