<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CV: ${name}</title>
    
    <style>
     h1 { font-size: 150%; }
     h2 { font-size: 135%; }
     h3 { font-size: 115%; }
     h4 { font-size: 100%; }
     div.heading_12 { font-family:"Arial"; font-size:12px; font-weight:bold; text-align:center; }
     div.heading_10_center { font-family: "Arial"; font-size: 10px; font-weight: bold; text-align: center; }
     div.heading_10 { font-family: "Arial"; font-size: 10px; font-weight: bold; }
     div.regular_10 { font-family: "Arial"; font-size: 10px; }
     div.container { width: 100%; }
     div.row { margin-bottom: 1em; padding-bottom: 1em;}
     div.slight-indent { margin-left: 24pt; }
    </style>
  </head>
  <body>
  <div class="container">
    <div class="heading_12">
      CURRICULUM VITAE
    </div>
    <div class="heading_12">
      ${name}
    </div>

    <% var title = ""; %>
    <% _.forEach(primaryPositions, function(item) { %>
    <% title += item['label'] + ','; %>
    <% title = title.slice(0,-1); %>
    <% }); %>

     <div class="heading_10_center">
      ${title}
    </div>

     <% var dt = new Date(); %>
     <% var today = "" %>
     <% var monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"]; %>
     <% today = "Prepared: " +  monthNames[dt.getMonth()] + " " + dt.getDate() + ", " + dt.getFullYear(); %>
     
     <div class="heading_10_center">
        ${today}
     </div>

    <div class="heading_10">
    <% if (locations.length > 0) { %>
    <% _.forEach(locations, function(item) { %>
       <%= item['address'] %>
    <% }); %>
    <% } %>

    <br>
    <% if (adds.length > 0) { %>
    <% _.forEach(adds, function(item) { %>
      <%= item['address'] %>
    <% }); %>
    <% } %>
    <br>


    ${phoneNumber}
    </div>

     <div class="row">
      <div class="heading_10">${email}</div>
    </div>
    
    <div class="row">
      <div class="heading_10">CURRENT APPOINTMENTS AND AFFILIATIONS</div>
      <div class="regular_10">
      <% _.forEach(primaryPositions, function(item) { %>
       <%= item['label'] %><br>
      <% }); %>
      <% _.forEach(secondaryPositions, function(item) { %>
          <%= item['label'] %><br>
      <% }); %>
    </div>
    </div>

    <div class="row">
      <div class="heading_10">EDUCATION, TRAINING AND CERTIFICATIONS</div>
      <div class="regular_10">
      <% _.forEach(educations, function(item) { %>
       <%= item['label'] %><br>
      <% }); %>
    </div>
    </div>

    <% if (pastappointments.length > 0) { %>
     <div class="row">
      <div class="heading_10">DUKE APPOINTMENT HISTORY</div>
      <div class="regular_10">
      <% _.forEach(pastappointments, function(item) { %>
       <%= item['label'] %><br>
      <% }); %>
    </div>
    </div>
    <% } %>

    <div class="row">
      <div class="heading_10">PUBLICATIONS</div>
       <% if (academicArticles.length > 0) { %>
         <div class="heading_10">Academic Articles</div>
         <div class="regular_10">
          <% _.forEach(academicArticles, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (books.length > 0) { %>
         <div class="heading_10">Books</div>
         <div class="regular_10">
          <% _.forEach(books, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (bookReviews.length > 0) { %>
         <div class="heading_10">Book Reviews</div>
         <div class="regular_10">
          <% _.forEach(bookReviews, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (bookSections.length > 0) { %>
         <div class="heading_10">Book Sections</div>
         <div class="regular_10">
          <% _.forEach(bookSections, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (bookSeries.length > 0) { %>
         <div class="heading_10">Book Series</div>
         <div class="regular_10">
          <% _.forEach(bookSeries, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (conferencePapers.length > 0) { %>
         <div class="heading_10">Conference Papers</div>
         <div class="regular_10">
          <% _.forEach(conferencePapers, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (datasets.length > 0) { %>
         <div class="heading_10">Datasets</div>
         <div class="regular_10">
          <% _.forEach(datasets, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (digitalPublications.length > 0) { %>
         <div class="heading_10">Digital Publications</div>
         <div class="regular_10">
          <% _.forEach(digitalPublications, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

     
      <% if (journalIssues.length > 0) { %>
         <div class="heading_10">Journal Issues</div>
         <div class="regular_10">
          <% _.forEach(journalIssues, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (reports.length > 0) { %>
         <div class="heading_10">Reports</div>
         <div class="regular_10">
          <% _.forEach(reports, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (scholarlyEditions.length > 0) { %>
         <div class="heading_10">Scholarly Editions</div>
         <div class="regular_10">
          <% _.forEach(scholarlyEditions, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (theses.length > 0) { %>
         <div class="heading_10">Theses and Dissertations</div>
         <div class="regular_10">
          <% _.forEach(theses, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (otherArticles.length > 0) { %>
         <div class="heading_10">Other Articles</div>
         <div class="regular_10">
          <% _.forEach(otherArticles, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>

      <% if (software.length > 0) { %>
         <div class="heading_10">Software</div>
         <div class="regular_10">
          <% _.forEach(software, function(item) { %>
            <%= item['citation'] %><br>
          <% }); %>
         </div>
      <% } %>
     </div> 
    </div> 

    <% if (awards.length > 0) { %>
    <div class="heading_10">PROFESSIONAL AWARDS AND SPECIAL RECOGNITION</div>
    <div class="regular_10">
      <% _.forEach(awards, function(item) { %>
      <%= item['label'] %><br>
      <% }); %>
    </div>
    <% } %>

    <% if (grants.length > 0) { %>
    <div class="heading_10">GRANTS, FELLOWSHIPS AND SUPPORTED RESEARCH</div>
    <div class="regular_10">
      <% _.forEach(grants, function(item) { %>
          <%= item['label'] %>
          <%= item['awardedBy'] %>
          <%= item['startDate'] %>
          <%= item['endDate'] %>
          (<%= item['role'] %>)<br>
    <% }); %>
    </div>
    <% } %>

    <% if (teaching_activities) { %>
    <div class="heading_10">TEACHING ACTIVITIES</div>
    <div class="regular_10">
      ${teaching_activities}
    </div>
    <% } %>

    <% if (teaching.length > 0) { %>
    <div class="heading_10">COURSES TAUGHT</div>
    <div class="regular_10">
    <% _.forEach(teaching, function(item) { %>
          <%= item['label'] %><br>
    <% }); %>
    </div>
    <% } %>

    <% if (mentorship_activities) { %>
    <div class="heading_10">MENTORING ACTIVITIES</div>
    <div class="regular_10">
      ${mentorship_activities}
    </div>
    <% } %>

    <% if (presentations.length > 0) { %>
    <div class="heading_10">PRESENTATIONS AND APPEARANCES</div>
    <div class="regular_10">
    <% _.forEach(presentations, function(item) { %>
          <%= item['label'] %><br>
    <% }); %>
    </div>
    <% } %>

    <% if (academic_activities) { %>
    <div class="heading_10">ACADEMIC AND ADMINISTRATIVE ACTIVITIES</div>
    <div class="regular_10">
      ${academic_activities}
    </div>
    <% } %>

 </div>
</body>
</html>

