/* */
@import "~bootstrap/less/bootstrap"; 

a {
  color: #235f9c;
}

.btn-primary { background-color: #235f9c; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #235f9c; 
}

